.app-header {
    background-color: rgb(143, 155, 155);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: -21px;
}

.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding: 20px;
    background-color: #c5d5e2;
    color: #333;
    min-height: 100vh;

    label {
        font-size: 25px;
    }
  
    h1 {
      color: #003366;
      margin-bottom: 20px;
    }
  
    .weather-form {
      display: flex;
      flex-direction: row;
      gap: 10px;
      margin-bottom: 20px;
  
      input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
      }
  
      button {
        padding: 10px 20px;
        background-color: #007acc;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
  
        &:hover {
          background-color: #005f99;
        }
      }
    }
  
    .weather-info {
      margin-bottom: 20px;
      text-align: center;
  
      h2 {
        color: #00509e;
        margin-bottom: 10px;
      }
  
      p {
        margin: 5px 0;
      }
    }
  
    .chart-container {
      width: 90%;
      width: 800px;
      max-width: 800px;
      margin-bottom: 40px;
      background: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
      h3 {
        margin-bottom: 20px;
        color: #333;
        text-align: center;
      }
    }
  
    .error-text {
      color: red;
      font-size: 14px;
    }
  
    .loading-text {
      color: #666;
      font-size: 18px;
    }
  }


  .navigation-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
  
    button {
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
      border: none;
      color: white;
      flex: 1;
      transition: transform 0.2s;
  
      &:hover {
        transform: scale(1.1);
      }
  
      &:active {
        transform: scale(0.9);
      }
  
      &.settings {
        background-color: #007bff;
      }
  
      &.weather {
        background-color: #28a745;
      }
    }
  }
  